<?xml version="1.0"?>
<PBIWebApp.Properties.Settings>
	<setting name="ClientID" serializeAs="String">
		<value>53dd4e2f-f913-48ac-9e0f-90a1e9b3c058</value>
	</setting>
	<setting name="ClientSecret" serializeAs="String">
		<value>nhky1Ng2ac87eUvYNRt3azVZbSNH1KJAQAOOCDkZzFM=</value>
	</setting>
	<setting name="AADAuthorityUri" serializeAs="String">
		<value>https://login.windows.net/common/oauth2/authorize/</value>
	</setting>
	<setting name="PowerBiAPI" serializeAs="String">
		<value>https://analysis.windows.net/powerbi/api</value>
	</setting>
	<setting name="PowerBiDataset" serializeAs="String">
		<value>https://api.powerbi.com/v1.0/myorg/</value>
	</setting>
	<setting name="RedirectUrl" serializeAs="String">
		<value>http://localhost:13526/</value>
	</setting>
</PBIWebApp.Properties.Settings>